* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding-top: 70px;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 15px 20px;
  text-align: center;
  position: relative;
}

header h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  width: 100px;
  height: 50px;
  background-color: #f1c40f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.navbar {
  width: 100%;
  background-color: rgb(28, 31, 27);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-links li {
  margin: 0 15px;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
}

.navbar .nav-links a:hover {
  background-color: rgb(190, 193, 190);
  border-radius: 5px;
}

.container {
  padding: 50px 20px;
  text-align: center;
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2rem;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 100px;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .row {
    flex-direction: column;
  }
}
